.swiper-slide {
  max-width: fit-content;
  min-width: 320px;

  @media screen and (max-width: 767px) {
    min-width: 225px;
  }

  img {
    width: 320px;
    height: 490px;

    @media screen and (max-width: 767px) {
      width: 225px;
      height: 344px;
    }
  }
}

.swiper-wrapper {
  max-height: 490px;
  @media screen and (max-width: 767px) {
    max-height: 344px;
  }
}

.parallax-bg {
  background: url("../../assets/images/background.jpg");
  background-position: center;
  background-size: cover;
}
